* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(75px * 8);
  height: calc(75px * 8);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cell {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-cell {
  background-color: #79523c;
}

.white-cell {
  background-color: rgb(192, 181, 170)
}

.selected-cell {
  background-color: #33CC66;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
}

.available-attack-cell {
  background-color: rgb(184, 52, 52);
}

.col {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.row span, .col span {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.row span {
  height: calc(100% / 8);
  padding-left: 2px;
}

.col span {
  width: calc(100% / 8);
  padding-right: 2px;
}

.timer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.timer button {
  width: 100%;
}

.lost {
  height: 50vh;
  padding: 8px 24px;
  margin-left: 48px;
  background-color: lightgray;
}

.lost > div {
  display: flex;
}
